// Colors
$color-primary: #3DCFB6;
$color-primary-light: #6AD7BF;
$color-primary-50: rgba(61, 207, 182, 0.5);
$color-dark: #1C1C1C;
$color-dark-teal: #08463B;
$color-white: #FFFFFF;
$color-light-gray: #D9D9D9;
$font-secondary: 'Karla', sans-serif;

// Fonts
$font-mono: 'Fira Code', monospace;