<header>
  <div class="header-inner">
    <div class="nav-group">
      @if (showLangToggle()) {
        <div class="lang-toggle">
          <span [class.active]="currentLang() === 'en'" (click)="useLanguage('en')">EN</span>
          <span [class.active]="currentLang() === 'de'" (click)="useLanguage('de')">DE</span>
        </div>
      }
      <nav>
        <a
          routerLink="/"
          fragment="about"
          (click)="onNavClick($event, 'about')"
          [class.active]="activeSection === 'about'"
          >{{ 'nav.about' | translate }}</a
        >
        <a
          routerLink="/"
          fragment="skills"
          (click)="onNavClick($event, 'skills')"
          [class.active]="activeSection === 'skills'"
          >{{ 'nav.skills' | translate }}</a
        >
        <a
          routerLink="/"
          fragment="projects"
          (click)="onNavClick($event, 'projects')"
          [class.active]="activeSection === 'projects'"
          >{{ 'nav.projects' | translate }}</a
        >
      </nav>
    </div>
    <a class="logo" href="/" (click)="onLogoClick($event)">
      <div class="logo-icon">
        <img src="icons/logo.svg" alt="Berk Capaci logo" class="logo-default" />
        <img src="icons/logo_hover.svg" alt="" class="logo-outline" />
      </div>
      <span>Berk Çapacı</span>
    </a>
    <button class="menu-button" (click)="toggleMenu()">
      <img src="icons/menu.svg" alt="hamburger menu icon" />
    </button>

    @if (isMenuOpen()) {
      <div class="mobile-menu">
        <a routerLink="/" fragment="about" (click)="onNavClick($event, 'about')">{{
          'nav.about' | translate
        }}</a>
        <a routerLink="/" fragment="skills" (click)="onNavClick($event, 'skills')">{{
          'nav.skills' | translate
        }}</a>
        <a routerLink="/" fragment="projects" (click)="onNavClick($event, 'projects')">{{
          'nav.projects' | translate
        }}</a>
        @if (showLangToggle()) {
          <div class="lang-toggle">
            <span [class.active]="currentLang() === 'en'" (click)="useLanguage('en')">EN</span>
            <span [class.active]="currentLang() === 'de'" (click)="useLanguage('de')">DE</span>
          </div>
        }
      </div>
    }
  </div>
</header>
